@CHARSET "UTF-8";
html{min-height:100%; position:relative;}

header{margin-bottom:10px;}
footer{position:absolute; bottom:0; width:100%;}
.user-control-wrapper{padding-top:15px;}
.user-control-wrapper .btn-info {min-width:93px;}
.user-control-wrapper .dropdown-menu{left:auto; margin-top: 6px;right:9px;}
.user-dropdown{padding:0; color:#000; }
.user-control-wrapper .dropdown-menu:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(0,0,0, 0.15);
    top: -9px;
    right: 2px;
    /* box-shadow: 0 0 1px #000; */
}
.dashboard-span {padding-left:9px;}
.logout-btn{display: inline-block; width: 100%;background:none;border-radius: 0;padding:0;}
.logout-btn:hover{background-color:#f5f5f5;}
.user-control-wrapper .user-settings{text-decoration:none; padding-right: 5px;}
.user-control-wrapper .user-settings .glyphicon-cog {vertical-align:top; transition:all 2s;margin-top:2px;}
.user-control-wrapper .user-settings:hover  .glyphicon-cog {transform: rotate(360deg);}
.user-control-wrapper .user-settings .settings-span {padding-left:5px;}
.footer-placeholder{margin-top:10px;}
@keyframes logo-animation{
    12.5% {transform :translateY(-25px) rotate(-45deg) scale(0.8);color:#b00;}
    25% {transform :translate(160px, -25px) rotate(45deg) scale(0.8); color:#0b0; }
    37.5% {transform :translate(160px, 25px) rotate(135deg) scale(0.8);  }
    50% {transform :translate(0, 25px) rotate(215deg) scale(0.8);}
    62.5% {transform :translate(0, 0px) rotate(260deg) scale(0.8);}
    75% {transform: rotate(720deg) scale(0.75);}
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
    0%   {background-color: #5bc0de;}
    25%  {background-color: #337ab7;}
    50%  {background-color: #337ab7;}
    100% {background-color: #5bc0de;}
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.logo .glyphicon{font-size:24px;}
.logo{transition: all 300ms ease;-o-transition: all 300ms ease;-moz-transition: all 300ms ease;-khtml-transition: all 300ms ease;color: #337ab7;}
.logo:hover{text-decoration: none; color: #306f8e;}
.logo:hover span{animation-duration:3s; animation-name:logo-animation;}
.menu-list{background-color:#5bc0de;}
.menu-list li{border:1px #eee solid;}
.menu-list .active{background-color:#337ab7; border-color:#2e6da4; color:#fff;}
.menu-list li a{color: #fff;display:block;padding:5px 10px;transition: all 300ms ease;-o-transition: all 300ms ease;-moz-transition: all 300ms ease;-khtml-transition: all 300ms ease;}
.menu-list li:not(.active) a:hover{text-decoration:none;background-color:#31b0d5;border-color:#269abc;}
.menu-list li.active a:hover{text-decoration:none;cursor:default;}
.index-well{transition: all 300ms ease;-o-transition: all 300ms ease;-moz-transition: all 300ms ease;-khtml-transition: all 300ms ease;}
.index-well:hover{box-shadow: 0 0 3px #000 inset;}
.index-well .index-apartment-image-wrapper img{width:100%;}
.error {color: #ff0000;}
.modal-header{background-color: #89C4F4;}
.modal-header-red{background-color: #FF0000;}
.modal-body{background-color: #eaf1f7;}
.bg-danger.well{background-color:#f2dede;}
.bg-success.well{background-color:#dff0d8;}
.blink-animation{animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;}

.index-apartment-info-wrapper .posted-rating-wrapper div:nth-child(2){background-image: url("../img/stars-grey.png");}
.index-apartment-info-wrapper .apartment-rating.rating .posted-rating-wrapper, .index-apartment-info-wrapper .apartment-rating.rating .posted-rating-value{height: 24px;width:130px;}
.index-apartment-info-wrapper .apartment-rating.rating span{display: inline-block; padding-top: 8px;}
.apartment-rating.rating span{display: inline-block; padding-top: 13px;}
.rating{padding-bottom: 10px;}
.apartment-rating.rating .posted-rating-wrapper, .apartment-rating.rating .posted-rating-value  {height:28px;width:150px;}

.rating-wrapper, .posted-rating-wrapper{width:125px;height: 38px;position: relative;display: inline-block;padding:0;border-radius:5px;}
.form-group .rating-wrapper{height:34px; width:176px;}

.bg-success.well.row .posted-rating-wrapper div:nth-child(2){background-image: url("../img/stars-green.png");}
.bg-danger.well.row .posted-rating-wrapper div:nth-child(2){background-image: url("../img/stars-red.png");}
.rating-wrapper div:nth-child(2), .posted-rating-wrapper div:nth-child(2){position:absolute; width:100%; height: 100%; background-image: url("../img/stars.png"); background-size:cover;}
.current-rating, .posted-rating-value{background-color: #FFD700;height: 34px;position: absolute;width: 0;left: 0;top: 0;transition: all 300ms ease;-moz-transition: all 300ms ease;-khtml-transition: all 300ms ease;-o-transition: all 300ms ease;-webkit-transition: all 300ms ease;border-radius:5px;}
.rating .posted-rating-wrapper, .rating .posted-rating-value {height: 24px;margin-right: 5px;}
.rating .posted-rating-wrapper{margin-top: 5px;}
.rating-value{width:60px; vertical-align: top;display: inline-block;margin-left:5px;}

.feedback-info-wrapper, .rating{display:inline-block;float:none; vertical-align:middle;}
.index-apartment-info-wrapper .rating, .apartment-rating{display:block;}
.feedback-form label.error{padding-top: 1%;vertical-align: top; display:inline-block;padding-left: 5px;}
.orders-to-pay-table tbody>tr>td{vertical-align: middle;}

.socials{padding-top:5px;}
.socials a{text-decoration:none;}
.admin-table{margin-top: 10px;}
.admin-table td, .admin-table th{text-align: center}
.admin-search-form{display: inline-block;}
.socials a{text-decoration:none;}
div#map_container{width:100%;height:450px;}
div#map_container_user{width:100%;height:450px;}
div#map_container_moderator{width:100%;height:600px;}
#modalDialogShowMap{width:900px}
.status-apartments-table td, .status-apartments-table th{text-align:center;}
.status-apartments-table td .glyphicon{font-size: 18px; padding:5px;}
.status-apartments-table td a .glyphicon{border:1px solid; border-radius: 35%;transition: all 300ms ease;-moz-transition: all 300ms ease;-khtml-transition: all 300ms ease;-o-transition: all 300ms ease;-webkit-transition: all 300ms ease;}
.status-apartments-table td a:hover .glyphicon{color:#efeeee; background-color: #337ab7;}
.status-apartments-table .filters input[disabled]{text-align:center;}
#apartmentName {font-family: Arial, Sans-Serif; color:blue; font-style: italic; font-weight: bold}
.file_upload{position: relative;overflow: hidden;font-size: 1em;height: 2em;line-height: 2em;height:35px;
           border: 1px solid #ccc; border-radius: 3px; box-shadow: 0 0 5px rgba(0,0,0,0.1); transition: box-shadow 0.1s linear}
.file_upload.focus{box-shadow: 0 0 5px rgba(0,30,255,0.4)}

.file_upload > button{float: right;width: 10em;height: 100%}
.file_upload > div{padding-left: 1em}
.file_upload input[type=file]{position: absolute;left: 0;top: 0; width: 100%;height: 100%;transform: scale(20);letter-spacing: 10em; -ms-transform: scale(20); opacity: 0;cursor: pointer}

.approved-ico{color:#26A65B;}
.sorting-btn {font-size:10px;display: inline-block; box-sizing:border-box; width:10px;vertical-align:middle;height:28px;position:relative;}
.sorting-btn span:first-child{top: 0px; left: 0px;}
.sorting-btn span:last-child{bottom: 0px; left: 0px;}
.sorting-btn span.active-sorting{font-size:14px; top:6px;}

/*Table filter styles*/
.filterable {
	margin-top: 15px;
}

.filterable .panel-heading .pull-right {
	margin-top: -20px;
}

.filterable .filters input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
	color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
	color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
	color: #333;
}

.table-cst {
	height: 550px;
}

section.range-slider {
    position: relative;
    width: 160px;
    height: 35px;
    text-align: center;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 160px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
  section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}

/*Table filter styles*/
.filtetableApart {
    margin-top: 0px;
}
.filtetableApart .panel-heading .pull-right {
    margin-top: -20px;
}
.filtetableApart .filtersTr input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filtetableApart .filtersTr input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filtetableApart .filtersTr input[disabled]::-moz-placeholder {
    color: #333;
}
.filtetableApart .filtersTr input[disabled]:-ms-input-placeholder {
    color: #333;
}

#visitor {width: 20%; float: left; text-align: center;}
#visitor img {width: 200px; height: 200px;}
#actions {width: 70%; float: left; margin-left: 25px;}
#avatar {max-width: 100%; height: auto;}
.btn-right {float: right;}
/* #paymentMain {float: left; margin-bottom: 20px;}
#paymentList {margin-left: 35px; float: left;}
#paymentButtons {clear: left; margin-top: 10px;} */
.divDisable {
	display: none;
}

#inputPrice {
	text-align: right;
	width: 200px;
}

.badge-cst {
	background-color: #38AEE1;
}

.tag {
	display: inline-block;
	width: auto;
	height: 38px;
	background-color: #979797;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	border-left: 1px solid #979797;
	/* This makes room for the triangle */
	margin-left: 19px;
	position: relative;
	color: white;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	line-height: 38px;
	padding: 0 10px 0 10px;
}

/* Makes the triangle */
.tag:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid transparent;
}

/* Makes the circle */
.tag:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}

/*Background and fixed width*/
.tag.tag-normal {
	width: 220px;
	background-color: #75D093;
}

.tag.tag-normal:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #75D093;
}

.tag.tag-normal_ {
	width: 200px;
	background-color: #75D093;
	text-align: center;
	right: 0%;
}

.tag.tag-normal_:before {
	content: "";
	position: absolute;
	display: block;
	left: -20px;
	top: 0px;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #75D093;
}

.tag.tag-high {
	width: 220px;
	background: #F29B38;
}

.tag.tag-high:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #F29B38;
}

.tag.tag-expensive {
	width: 220px;
	background: #F25A5A;
}

.tag.tag-expensive:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #F25A5A;
}

.tag.tag-order {
	width: 220px;
	background: #2DC6CB;
}

.tag.tag-order:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #2DC6CB;
}

.wrapper {
	display: inline-block;
	height: 300px;
	width: 300px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	align-items: center;
}

.rcorner {
	border-radius: 25px;
	background: #73AD21;
	padding: 20px;
	width: 200px;
	height: 150px;
}

.image-cst {
	display: inline-block;
	height: 130px;
	width: 150px;
	margin-left: 5px;
	margin-top: 5px;
}

.image-cst_ {
	display: inline-block;
	height: 25%;
	width: 40%;
	margin-left: 5px;
	margin-top: 5px;
}

.image-cst_-smile {
	height: 120px;
	width: 120px;
    margin-left: auto;
    margin-right: auto;
    border:0;
}

.image-cst-smile {
	height: 320px;
	width: 320px;
    margin-left: auto;
    margin-right: auto;
    border:0;
}

.tooltip-inner {
	background-color: #d9edff;
	color: #337ab7;
}

.form-control_ {
    width: 45%;
    height: 34px;
    padding: 6px 10px;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
	
/* Tooltip */
.tooltip-cst+.tooltip>.tooltip-inner {
	background-color: #d9edf7;
	color: #337ab7;
	border: 1px solid #d9edf7;
	padding: 1px ;
	font-size: 12px;
}
/* Tooltip on top */
.tooltip-cst+.tooltip.top>.tooltip-arrow {
	border-top: 5px solid #d9edf7;
}
/* Tooltip on bottom */
.tooltip-cst+.tooltip.bottom>.tooltip-arrow {
	border-bottom: 5px solid #d9edf7;
}
/* Tooltip on left */
.tooltip-cst+.tooltip.left>.tooltip-arrow {
	border-left: 5px solid #d9edf7;
}
/* Tooltip on right */
.tooltip-cst+.tooltip.right>.tooltip-arrow {
	border-right: 5px solid #d9edf7;
}

.tooltip-group {
	margin-top: 18px;
}

.badge-cst {
    width : 150px;
    font-size : 15px;
}

.glyphicon-cst{
	 top:15px;
	 font-size: 18px; padding:5px;
	 border:1px solid; border-radius: 35%;transition: all 300ms ease;-moz-transition: all 300ms ease;-khtml-transition: all 300ms ease;-o-transition: all 300ms ease;-webkit-transition: all 300ms ease;
	 border:1px solid; border-radius: 35%;transition: all 300ms ease;-moz-transition: all 300ms ease;-khtml-transition: all 300ms ease;-o-transition: all 300ms ease;-webkit-transition: all 300ms ease;
	 }
.badge-cst_ {
    width : 100px;
    font-size : 15px;
    background-color: #38AEE1;
}

.glyphicon-cst{font-size: 18px; padding:5px;}

.glyphicon-cst:hover{color:#efeeee; background-color: #337ab7;}

.half-table {
    width: 50%;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.icon-preview {
    background-image: url('images/preview.png') !important;
    width: 32px;
    height: 15px; 
    display: inline-block;
    background-size: 20px 20px;
   
    background-repeat: no-repeat;
    background-position: center;
}

.icon-history {
    background-image: url('images/history.png') !important;
    width: 32px;
    height: 15px; 
    display: inline-block;
    background-size: 20px 20px;
   
    background-repeat: no-repeat;
    background-position: center;
}

.icon-edit {
    background-image: url('images/edit.png') !important;
    width: 32px;
    height: 15px; 
    display: inline-block;
    background-size: 20px 20px;
   
    background-repeat: no-repeat;
    background-position: center;
}

.center-test{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.tooltip_ span{
    border-radius: 5px 5px 5px 5px;
    visibility: hidden;
    position: absolute;
    left: 15%;
    bottom: 100px;
    background: #fff;
    box-shadow: -2px 2px 10px -1px #333; 
    border-radius: 5px;	
}
 
.tooltip_:hover span{
	visibility: visible;
}

.image-avatar-authors {
	width: 200px;
	height: 250px;
}